<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.dao.MenuDao">

    <resultMap type="com.fu.demo.entity.Menu" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="pId" column="p_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nameZh" column="name_zh" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">id, p_id, name, name_zh, path, icon, component, remark, creator, create_time</sql>

    <!-- 根据ID查询 -->
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where id = #{id}
    </select>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.fu.demo.entity.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pId != null">
                p_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="nameZh != null">
                name_zh,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="component != null">
                component,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="pId != null">
                #{pId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="nameZh != null">
                #{nameZh},
            </if>
            <if test="path != null">
                #{path},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            <if test="component != null">
                #{component},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.fu.demo.entity.Menu">
        update menu
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="pId != null">
                p_id = #{pId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="nameZh != null">
                name_zh = #{nameZh},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="component != null">
                component = #{component},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        delete
        from menu
        where id = #{id}
    </delete>

</mapper>

