<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.dao.UserDeptDao">

    <resultMap type="com.fu.demo.entity.UserDept" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">id, user_id, dept_id</sql>

    <!-- 根据ID查询 -->
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_dept
        where id = #{id}
    </select>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_dept
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.fu.demo.entity.UserDept">
        insert into user_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="deptId != null">
                #{deptId},
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.fu.demo.entity.UserDept">
        update user_dept
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        delete
        from user_dept
        where id = #{id}
    </delete>

</mapper>

