<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.dao.UserDetailsDao">

    <resultMap type="com.fu.demo.entity.UserDetails" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="position" column="position" jdbcType="VARCHAR"/>
        <result property="workContent" column="work_content" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 联表查询 -->
    <resultMap type="com.fu.demo.entity.vo.UserVO" id="UserVOMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="publicKey" column="public_key" jdbcType="VARCHAR"/>
        <result property="privateKey" column="private_key" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="eMail" column="e_mail" jdbcType="VARCHAR"/>
        <result property="disabled" column="disabled" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="BIGINT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <collection property="userDetailsList" ofType="UserDetails">
            <result property="id" column="b_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="company" column="company" jdbcType="VARCHAR"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
            <result property="workContent" column="work_content" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="b_create_time" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">id,user_id, company, `position`, work_content, start_time, end_time, create_time</sql>

    <sql id="queryByUserIdSql">a.id id, `name`, salt, public_key, phone, e_mail, disabled, deleted, creator, remark, a.create_time create_time, last_login_time,b.id b_id,user_id, company, `position`, work_content, start_time, end_time,b.create_time b_create_time FROM `user` a LEFT JOIN user_details b ON a.id = b.user_id</sql>

    <!-- 根据ID查询 -->
    <select id="queryById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_details
        where id = #{id}
    </select>

    <!-- 查询全部 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_details
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.fu.demo.entity.UserDetails">
        insert into user_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="position != null">
                `position`,
            </if>
            <if test="workContent != null">
                work_content,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="company != null">
                #{company},
            </if>
            <if test="position != null">
                #{position},
            </if>
            <if test="workContent != null">
                #{workContent},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.fu.demo.entity.UserDetails">
        update user_details
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="company != null">
                company = #{company},
            </if>
            <if test="position != null">
                `position` = #{position},
            </if>
            <if test="workContent != null">
                work_content = #{workContent},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteById">
        delete
        from user_details
        where id = #{id}
    </delete>

    <!--    通过用户ID联表查询用户详细信息-->
    <select id="queryByUserId" resultMap="UserVOMap">
        SELECT
        <include refid="queryByUserIdSql"/>
        <where>
            <if test="userId != null">
                a.id = #{userId}
            </if>
        </where>
    </select>

</mapper>

